<mat-tab-group class="auth-wrapper" [backgroundColor]="background">
  <mat-tab label="Log In">
    <mat-card class="auth-wrapper__auth-panel" [ngStyle]="{width: getWidth(screenService.isDesktop$ | async)}">
      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>
          {{getTitle()}}
        </mat-card-title>
      </mat-card-header>

      <app-login-form></app-login-form>
    </mat-card>
  </mat-tab>
  <mat-tab label="Register">
    <mat-card class="auth-wrapper__auth-panel" [ngStyle]="{width: getWidth(screenService.isDesktop$ | async)}">
      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>
          {{getTitle()}}
        </mat-card-title>
      </mat-card-header>

      <app-reg-form></app-reg-form>
    </mat-card>
  </mat-tab>
</mat-tab-group>
